<div class="container policeChampagne25">
  <div>
    <div class="bg-info mt-5 conteneurArrondi policeChampagneEspaceCenter">
      <p>MES DONS EN COURS</p>
    </div>

    <table class="table">
      <thead>
      <tr class="table-info policeChampagneCenter">
        <th>NUMÉRO</th>
        <th>DATE DE MISE EN LIGNE</th>
        <th>NOMBRE DE LOTS DISPONIBLES</th>
        <th>CRÉNEAU</th>
        <th>COMMENTAIRE</th>
        <th>DESTINATAIRE</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let donDto of listDonPageDonneur">
        <td>{{donDto.id}}</td>
        <td>{{donDto.dtMiseEnLigne}}</td>
        <td>{{donDto.nombreLot}}</td>
        <td>{{donDto.creneau}}</td>
        <td>{{donDto.commentaire}}</td>
        <td>{{donDto.destinataire}}</td>
        <td><a class="btn btn-info btn-m" routerLinkActive="active" [routerLink]="['/don']"><i class="fas fa-edit"></i> MODIFIER</a>
          <a class="btn btn-secondary btn-m" (click)="delete(donDto.id)"><i class="far fa-trash-alt"></i></a></td>
      </tr>
      </tbody>
    </table>
<!--  </div>-->


<!--    <div class="row">-->
<!--          <button type="button"-->
<!--                 class="btn btn-success btn-lg ml-auto mr-auto" routerLinkActive="active" [routerLink]="['/don']">+ NOUVEAU DON</button>-->

  <div class="row justify-content-center align-items-center text-center">
    <div class="col">
        <a class="btn btn-lg btn-warning btnImpact" [routerLink]="['/don']"><i class="fas fa-hand-holding-heart"></i> NOUVEAU DON</a>
    </div>
    <div class="col">
      <img src="assets/panierDessin.png" class="mx-auto d-block">
    </div>
    <div class="col">
        <a class="btn btn-lg btn-danger btnImpact mx-auto" (click)="afficheHistorique()"><i class="fas fa-history"></i> VOIR L'HISTORIQUE</a>
    </div>
  </div>


<div *ngIf="historique">
  <div class="bg-danger mt-5 conteneurArrondi policeChampagneEspaceCenter">
    <p>MON HISTORIQUE DE DONS</p>
  </div>


  <table class="table">
    <thead>
    <tr class="table-danger policeChampagneCenter">
      <th>LOT</th>
      <th>QUANTITE</th>
      <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>


</div>
</div>

