<div *ngIf="recupPivot()=='false'">
<div class="container-fluid policeChampagne25">

<!--  COLONNE 1 A GAUCHE-->

  <div class="row">

    <div class="col-3 bg-info">
      <div>
    <img src="assets/2275816-dessin-anime-avatar-de-sourire-barbe-homme-profil-icone-vectoriel.jpg" class="border mt-3 avatar mx-auto d-block">
      </div>

      <div class="bg-light mt-5 conteneurArrondi policeChampagneEspaceCenter">
        <p>PROFIL</p>
      </div>


<!--        <div class="switch-field mt-4 policeChampagne25">-->
<!--          <input type="radio" id="radio-one" name="switch-one" [defaultChecked]="recupDonneur" disabled/>-->
<!--          <label for="radio-one">Donneur</label>-->
<!--          <input type="radio" id="radio-two" name="switch-one" [defaultChecked]="recupBeneficiaire" disabled/>-->
<!--          <label for="radio-two">Bénéficiaire</label>-->
<!--        </div>-->


      <div>
      <p class="mt-3 policeImpact mr-3">PSEUDO :</p><p>{{recupPseudo()}}</p>
      <p class="mt-3 policeImpact mr-3">EMAIL :</p><p>{{recupMail()}}</p>

        <button type="button" class="btn btn-lg btn-danger container-fluid">
          <a class="text-white lien" (click)="changePivot()"><i class="fas fa-sync-alt"></i> Donneur</a></button>

      <button type="button" class="btn btn-lg btn-warning container-fluid mt-4">
        <a class="text-white lien" [routerLink]="['/profil']"><i class="fas fa-user-edit"></i> Modifier mon profil</a></button>
      </div>

      <div class="mt-3"></div>
    </div>

    <!--    COLONNE 2 CENTER-->

    <div class="col-3 text-center">

      <div class="bg-info policeImpactCenter">
        BONJOUR {{recupPseudo() | uppercase}}!
      </div>

      <div class="card">
        <img class="card-img-top imgSmall mx-auto d-block" src="assets/panierDessin2.png" alt="Card image">
        <div class="card-body">
          <p class="card-text">Je peux choisir un don</p>
          <a class="btn btn-lg btn-info" [routerLink]="['/beneficier']">JE CHOISIS</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top imgSmall mx-auto d-block" src="assets/graph.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Mon tableau de bord</p>
          <a class="btn btn-lg btn-secondary" (click)="tableauDeBordB()">AFFICHER</a>
        </div>
      </div>

      <a class="btn btn-lg btn-info btnImpact mt-3 container-fluid" [routerLink]="['/messagerie']"><i class="fas fa-envelope-open-text"></i> MESSAGERIE</a>

    </div>

    <!--    <div class="col-3 text-center bg-secondary">-->
    <!--      <img class="img-fluid rounded" src="assets/MAINS.jpg" />-->
    <!--      <a href="" class="btn btn-info btn-lg mt-3">Je reçois</a>-->
    <!--    </div>-->

<!--    COLONNE 3 DROITE-->

    <div class="col-6 text-center bg-info">
<div *ngIf="changeB">
<!--      <div class="bg-light mt-3 conteneurArrondi policeChampagne25">-->
<!--        <p>EN ATTENTE</p>-->
<!--      </div>-->
<!--  <div class="container-fluid">-->
<!--        <table class="table text-center">-->
<!--          <thead>-->
<!--          <tr class="table-info policeChampagneCenter">-->
<!--            <th>LOT</th>-->
<!--            <th></th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let lot of listLotDispoEnAttenteByEntite">-->
<!--            <td>{{lot.nom}}</td>-->
<!--            <td><a class="btn btn-info btn-m"><i class="fas fa-edit"></i></a>-->
<!--              <a class="btn btn-secondary btn-m"><i class="far fa-trash-alt"></i></a></td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->

<!--  </div>-->
      <app-tableau-de-bord-beneficiaire></app-tableau-de-bord-beneficiaire>
</div>
    </div>

<!--FOOTER-->

  </div>

  <div class="mt-3 text-center">
    <div class="card-header">Actualités</div>
    <div class="card-body">Liste des actualités</div>
  </div>

</div>
</div>


<div *ngIf="recupPivot()=='true'">
  <div class="container-fluid policeChampagne25">

    <!--  COLONNE 1 A GAUCHE-->

    <div class="row">

      <div class="col-3 bg-danger">
        <div>
          <img src="assets/profil3.jpg" class="border mt-3 avatar mx-auto d-block">
        </div>

        <div class="bg-light mt-5 conteneurArrondi policeChampagneEspaceCenter">
          <p>PROFIL</p>
        </div>


<!--        <div class="switch-field mt-4 policeChampagne25">-->
<!--          <input type="radio" id="radio-one2" name="switch-one2" [defaultChecked]="recupDonneur()" disabled/>-->
<!--          <label for="radio-one2">Donneur</label>-->
<!--          <input type="radio" id="radio-two2" name="switch-one2" [defaultChecked]="recupBeneficiaire()" disabled/>-->
<!--          <label for="radio-two2">Bénéficiaire</label>-->
<!--        </div>-->


        <div>
          <p class="mt-3 policeImpact mr-3">PSEUDO :</p><p>{{recupPseudo()}}</p>
          <p class="mt-3 policeImpact mr-3">EMAIL :</p><p>{{recupMail()}}</p>

          <button type="button" class="btn btn-lg btn-info container-fluid">
            <a class="text-white lien" (click)="changePivot()"><i class="fas fa-sync-alt"></i> Bénéficiaire</a></button>

          <button type="button" class="btn btn-lg btn-info container-fluid mt-4">
            <a class="text-white lien" [routerLink]="['/profil']"><i class="fas fa-user-edit"></i> Modifier mon profil</a></button>
        </div>

        <div class="mt-3"></div>
      </div>

      <!--    COLONNE 2 CENTER-->

      <div class="col-3 text-center">

        <div class="bg-danger policeImpactCenter">
          BONJOUR {{recupPseudo() | uppercase}}!
        </div>

        <div class="card">
          <img class="card-img-top imgSmall mx-auto d-block" src="assets/panierDessin.png" alt="Card image">
          <div class="card-body">
            <p class="card-text">Je peux créer des lots</p>
            <a class="btn btn-lg btn-danger" [routerLink]="['/donner']">JE DONNE</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top imgSmall mx-auto d-block" src="assets/graph.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Mon tableau de bord</p>
            <a class="btn btn-lg btn-secondary" (click)="tableauDeBordD()">AFFICHER</a>
          </div>
        </div>

        <a class="btn btn-lg btn-danger btnImpact mt-3 container-fluid" [routerLink]="['/messagerie']"><i class="fas fa-envelope-open-text"></i> MESSAGERIE</a>

      </div>

      <!--    <div class="col-3 text-center bg-secondary">-->
      <!--      <img class="img-fluid rounded" src="assets/MAINS.jpg" />-->
      <!--      <a href="" class="btn btn-info btn-lg mt-3">Je reçois</a>-->
      <!--    </div>-->

      <!--    COLONNE 3 DROITE-->

      <div class="col-6 text-center bg-danger">

        <div *ngIf="changeD">
<!--          <div class="bg-light mt-3 conteneurArrondi policeChampagne25">-->
<!--            <p>Mes notifications en cours</p>-->
<!--          </div>-->
        <div class="container-fluid">
<!--          <table class="table text-center">-->
<!--            <thead>-->
<!--            <tr class="table-warning policeChampagneCenter">-->
<!--              <th>LOT</th>-->
<!--              <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let lot of listLotDispoEnAttenteByEntite">-->
<!--              <td>{{lot.nom}}</td>-->
<!--              <td><a class="btn btn-info btn-m"><i class="fas fa-edit"></i></a>-->
<!--                <a class="btn btn-secondary btn-m"><i class="far fa-trash-alt"></i></a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->

        </div>
          <app-tableau-de-bord-donneur></app-tableau-de-bord-donneur>
      </div>

      </div>

    </div>

    <div class="mt-3 text-center">
      <div class="card-header">Actualités</div>
      <div class="card-body">Liste des actualités</div>
    </div>

  </div>
</div>
