<div class="container policeChampagne25" xmlns="http://www.w3.org/1999/html">
  <div>
  <div class="mt-5 policeChampagneEspaceCenter"><b>INSCRIPTION</b></div>
  <div class="center">________________________</div>

  <div class="policeImpactCenter">Je m'inscris en tant que :</div>

<div class="center mt-3">
    <a class="btn btn-lg btn-warning btnImpact mr-3" (click)="addParticulier()"><i class="fas fa-child"></i> Particulier</a>
    <a class="btn btn-lg btn-info btnImpact mr-3" (click)="addEntreprise()"><i class="fas fa-briefcase"></i> Entreprise</a>
    <a class="btn btn-lg btn-danger btnImpact mr-3" (click)="addAssociation()"><i class="fas fa-hands-helping"></i> Association</a>
</div>
  </div>

<!--IF ON CLICK SUR PARTICULIER-->
<div *ngIf="particulierForm">
  <div class="pt-5">
    <label for="nom">Nom:*</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="particulierForm.nom" [readOnly]="particulierForm.id"/>
  </div>

  <div class="pt-3">
    <label for="prenom">Prénom:</label>
    <input type="text" class="form-control" id="prenom" [(ngModel)]="particulierForm.prenom" [readOnly]="particulierForm.id"/>
  </div>

  <div class="switch-field mt-4 policeChampagne25">
    <input type="radio" id="donneur" name="switch-one" value="true" [(ngModel)]="particulierForm.donneur" (ngModelChange)="changeDonneur()" [attr.disabled]="particulierForm.id"/>
    <label for="donneur">Donneur</label>
    <input type="radio" id="beneficiaire" name="switch-one" value="false" [(ngModel)]="particulierForm.donneur" (ngModelChange)="changeBeneficiaire()" [attr.disabled]="particulierForm.id"/>
    <label for="beneficiaire">Bénéficiaire</label>
  </div>

  <fieldset [disabled]="isActiveBool">
  <a class="btn btn-lg btn-outline-warning mt-3" (click)="saveEntiteParticulier()"><i class="fas fa-plus-circle"></i> Ajouter une adresse</a>
  </fieldset>
</div>
<!--  LIEN AVEC ADRESSE (ADRESSE MAITRE)-->
  <div *ngIf="particulierForm&&adresseParticulier">
  <div class="pt-3">
    <label for="rue">Rue:</label>
    <input type="text" class="form-control" id="rue" [(ngModel)]="adresseParticulier.rue" [disabled]="isActiveBool2"/>
  </div>

  <div class="pt-3">
    <label for="complement">Complement:</label>
    <input type="text" class="form-control" id="complement" [(ngModel)]="adresseParticulier.complement" [disabled]="isActiveBool2"/>
  </div>

  <div class="pt-3">
    <label for="codePostal">Code Postal:</label>
    <input type="text" class="form-control" id="codePostal" [(ngModel)]="adresseParticulier.codePostal" [disabled]="isActiveBool2"/>
  </div>

  <div class="pt-3">
    <label for="ville">Ville:</label>
    <input type="text" class="form-control" id="ville" [(ngModel)]="adresseParticulier.ville" [disabled]="isActiveBool2"/>
  </div>

    <fieldset [disabled]="isActiveBool2">
    <a class="btn btn-lg btn-outline-warning mt-3" (click)="saveAdresseParticulier()"><i class="fas fa-plus-circle"></i> Détails de connexion</a>
    </fieldset>
  </div>

<!--  !!FIN ADRESSE-->

    <div *ngIf="particulierForm&&utilisateurParticulier">


      <div class="pt-3">
        <label for="pseudo">Pseudo:</label>
        <input type="text" class="form-control" id="pseudo" [(ngModel)]="utilisateurParticulier.pseudo"/>
      </div>

  <div class="pt-3">
    <label for="email">Email:*</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="utilisateurParticulier.mail"/>
  </div>

  <div class="pt-3"><label for="motdepasse">Mot de passe:*</label>
    <input type="text" class="form-control" id="motdepasse" [(ngModel)]="utilisateurParticulier.motDePasse"/>
  </div>

  <span>Les champs * sont obligatoires</span>


  <div class="mt-5">
    <a class="btn btn-lg btn-warning btnImpact mr-3" (click)="annulerTout()"><i class="fas fa-undo-alt"></i> Retour</a>
    <a class="btn btn-lg btn-info btnImpact" (click)="saveUtilisateurParticulier()" [routerLink]="['/connexion']"><i class="fas fa-check"></i> Valider</a>
  </div>
</div>

  <!--IF ON CLICK SUR ENTREPRISE-->
  <div *ngIf="entrepriseForm">

  <div class="pt-3" *ngIf="!nouvelleEntreprise&&entrepriseForm">
    <label>Votre entreprise:</label>
    <a class="btn float-right btn-lg btn-outline-info" (click)="addCreation()"><i class="fas fa-plus-square"></i> Nouvelle entreprise</a>
  </div>

    <div class="form-group mt-3" *ngIf="!nouvelleEntreprise">
      <select class="form-control" id="evaluation" [(ngModel)]="entrepriseForm.id" (ngModelChange)="onChangeEntreprise($event)">
        <option value="" disabled>Choisir une entreprise</option>
        <option *ngFor="let entreprise of listEntreprise()" [value]="entreprise.id">{{entreprise.nom}} - SIRET : {{entreprise.siret}}</option>
      </select>
    </div>



    <div *ngIf="entrepriseSelect&&!nouvelleEntreprise">
    <table class="table mt-3">
    <thead>
    <tr>
      <th>NOM de l'entreprise</th>
      <th>SIRET</th>
      <th>CATEGORIE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{entrepriseSelect.nom}}</td>
      <td>{{entrepriseSelect.siret}}</td>
      <td>{{entrepriseSelect.categorie}}</td>
      <td><a class="btn btn-secondary" (click)="delete(entrepriseSelect.id)" *ngIf="flagDelete"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
  </table>
    </div>

    <div *ngIf="nouvelleEntreprise">
      <div class="pt-5">
        <label for="nom2">Nom de l'entreprise:*</label>
        <input type="text" class="form-control" id="nom2" [(ngModel)]="nouvelleEntreprise.nom" [readOnly]="nouvelleEntreprise.id"/>
      </div>

      <div class="pt-3">
        <label for="siret">SIRET de l'entreprise:*</label>
        <input type="text" class="form-control" id="siret" [(ngModel)]="nouvelleEntreprise.siret" [readOnly]="nouvelleEntreprise.id"/>
      </div>

      <div class="form-group">
        <label for="categorie">Catégorie de l'entreprise:</label>
        <select class="form-control" id="categorie" [(ngModel)]="nouvelleEntreprise.categorie" [attr.disabled]="nouvelleEntreprise.id">
          <option value="" disabled>Choisir une catégorie</option>
          <option *ngFor="let categ of listCategories()" value="{{categ}}">{{categ}}</option>
        </select>
      </div>

      <div class="switch-field mt-4 policeChampagne25">
        <input type="radio" id="donneur1" name="switch-one" value="true" [(ngModel)]="nouvelleEntreprise.donneur" (ngModelChange)="changeDonneur()" [attr.disabled]="nouvelleEntreprise.id"/>
        <label for="donneur1">Donneur</label>
        <input type="radio" id="beneficiaire1" name="switch-one" value="false" [(ngModel)]="nouvelleEntreprise.donneur" (ngModelChange)="changeBeneficiaire()" [attr.disabled]="nouvelleEntreprise.id"/>
        <label for="beneficiaire1">Bénéficiaire</label>
      </div>


      <fieldset [disabled]="isActiveBool3">
      <a class="btn btn-lg btn-outline-warning mt-3" (click)="saveEntiteEntreprise()"><i class="fas fa-plus-circle"></i> Ajouter une adresse</a>
      </fieldset>
      <!--  LIEN AVEC ADRESSE (ADRESSE MAITRE)-->
      <div *ngIf="nouvelleAdresseEntreprise">
      <div class="pt-3">
        <label for="rueE">Rue:*</label>
        <input type="text" class="form-control" id="rueE" [(ngModel)]="nouvelleAdresseEntreprise.rue"/>
      </div>

      <div class="pt-3">
        <label for="complementE">Complement:</label>
        <input type="text" class="form-control" id="complementE" [(ngModel)]="nouvelleAdresseEntreprise.complement"/>
      </div>

      <div class="pt-3">
        <label for="codePostalE">Code Postal:*</label>
        <input type="text" class="form-control" id="codePostalE" [(ngModel)]="nouvelleAdresseEntreprise.codePostal"/>
      </div>

      <div class="pt-3">
        <label for="villeE">Ville:*</label>
        <input type="text" class="form-control" id="villeE" [(ngModel)]="nouvelleAdresseEntreprise.ville"/>
      </div>
      </div>

<!--      !!FIN ADRESSE-->

      <div class="mt-5">
        <a class="btn btn-sm btn-warning btnImpact mr-3" (click)="annuler()"><i class="fas fa-undo-alt"></i></a>
        <a class="btn btn-sm btn-info btnImpact" *ngIf="nouvelleAdresseEntreprise" (click)="addTableauEntreprise()"><i class="fas fa-check"></i></a>
      </div>
    </div>

    <div *ngIf="entrepriseSelect">
  <div class="bg-info mt-5 conteneurArrondi policeChampagneEspaceCenter">
  <p>DONNEES PERSONNELLES</p>
  </div>

  <div class="pt-3">
    <label for="pseudo">Pseudo:</label>
    <input type="text" class="form-control" name="pseudo" [(ngModel)]="utilisateurEntreprise.pseudo"/>
  </div>

  <div class="pt-3">
    <label for="email">Email:*</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="utilisateurEntreprise.mail"/>
  </div>

  <div class="pt-3">
    <label for="motdepasse">Mot de passe:*</label>
    <input type="text" class="form-control" name="motdepasse" [(ngModel)]="utilisateurEntreprise.motDePasse"/>
  </div>

  <span>Les champs * sont obligatoires</span>

  <div class="mt-5">
    <a class="btn btn-lg btn-warning btnImpact mr-3" (click)="annulerTout()"><i class="fas fa-undo-alt"></i> Retour</a>
    <a class="btn btn-lg btn-info btnImpact" (click)="saveUtilisateurAssocieEntreprise()" [routerLink]="['/connexion']"><i class="fas fa-check"></i> Valider</a>
  </div>
  </div>
  </div>


  <!--IF ON CLICK SUR ASSOCIATION-->
  <div *ngIf="associationForm">

    <div class="pt-3" *ngIf="!nouvelleAssociation&&associationForm">
    <span>Votre association:</span>
      <a class="btn float-right btn-lg btn-outline-danger" (click)="addCreation()"><i class="fas fa-plus-square"></i> Nouvelle association</a>
  </div>

    <div class="form-group mt-3" *ngIf="!nouvelleAssociation">
      <select class="form-control" id="association" [(ngModel)]="associationForm.id" (ngModelChange)="onChangeAssociation($event)">
        <option value="" disabled>Choisir une association</option>
        <option *ngFor="let association of listAssociation()" [value]="association.id">{{association.nom}} - RNA : {{association.numeroAssociation}}</option>
      </select>
    </div>

    <div *ngIf="associationSelect&&!nouvelleAssociation">
  <table class="table mt-3">
    <thead>
    <tr>
      <th>Nom de l'association</th>
      <th>Numéro associatif</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{associationSelect.nom}}</td>
      <td>{{associationSelect.numeroAssociation}}</td>
      <td><a class="btn btn-secondary" (click)="delete(associationSelect.id)" *ngIf="flagDelete"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
  </table>
    </div>

    <div *ngIf="nouvelleAssociation">
      <div class="pt-5">
        <label for="nomA">Nom de l'association:*</label>
        <input type="text" class="form-control" id="nomA" [(ngModel)]="nouvelleAssociation.nom" [readOnly]="nouvelleAssociation.id"/>
      </div>

      <div class="pt-3">
        <label for="numeroAsso">Numéro associatif:*</label>
        <input type="text" class="form-control" id="numeroAsso" [(ngModel)]="nouvelleAssociation.numeroAssociation" [readOnly]="nouvelleAssociation.id"/>
      </div>

      <div class="switch-field mt-4 policeChampagne25">
        <input type="radio" id="donneur2" name="switch-one" value="true" [(ngModel)]="nouvelleAssociation.donneur" (ngModelChange)="changeDonneurAsso()" [attr.disabled]="nouvelleAssociation.id"/>
        <label for="donneur2">Donneur</label>
        <input type="radio" id="beneficiaire2" name="switch-one" value="false" [(ngModel)]="nouvelleAssociation.donneur" (ngModelChange)="changeBeneficiaireAsso()" [attr.disabled]="nouvelleAssociation.id"/>
        <label for="beneficiaire2">Bénéficiaire</label>
      </div>

      <fieldset [disabled]="isActiveBool4">
      <a class="btn btn-lg btn-outline-warning mt-3" (click)="saveEntiteAssociation()"><i class="fas fa-plus-circle"></i> Ajouter une adresse</a>
      </fieldset>
      <!--  LIEN AVEC ADRESSE (ADRESSE MAITRE)-->
      <div *ngIf="nouvelleAdresseAssociation">
        <div class="pt-3">
          <label for="rueA">Rue:*</label>
          <input type="text" class="form-control" id="rueA" [(ngModel)]="nouvelleAdresseAssociation.rue"/>
        </div>

        <div class="pt-3">
          <label for="complementA">Complement:</label>
          <input type="text" class="form-control" id="complementA" [(ngModel)]="nouvelleAdresseAssociation.complement"/>
        </div>

        <div class="pt-3">
          <label for="codePostalA">Code Postal:*</label>
          <input type="text" class="form-control" id="codePostalA" [(ngModel)]="nouvelleAdresseAssociation.codePostal"/>
        </div>

        <div class="pt-3">
          <label for="villeA">Ville:*</label>
          <input type="text" class="form-control" id="villeA" [(ngModel)]="nouvelleAdresseAssociation.ville"/>
        </div>
      </div>

      <!--      !!FIN ADRESSE-->

      <div class="mt-5">
        <a class="btn btn-sm btn-warning btnImpact mr-3" (click)="annuler()"><i class="fas fa-undo-alt"></i></a>
        <a class="btn btn-sm btn-info btnImpact" *ngIf="nouvelleAdresseAssociation" (click)="addTableauAssociation()"><i class="fas fa-check"></i></a>
      </div>
    </div>

    <div *ngIf="associationSelect">
  <div class="bg-danger mt-5 conteneurArrondi policeChampagneEspaceCenter">
    <p>DONNEES PERSONNELLES</p>
  </div>

  <div class="pt-3">
    <label for="pseudo">Pseudo:</label>
    <input type="text" class="form-control" name="pseudo" [(ngModel)]="utilisateurAssociation.pseudo" />
  </div>

  <div class="pt-3">
    <label for="email">Email:*</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="utilisateurAssociation.mail" />
  </div>

  <div class="pt-3">
    <label for="motdepasse">Mot de passe:*</label>
    <input type="text" class="form-control" name="motdepasse" [(ngModel)]="utilisateurAssociation.motDePasse" />
  </div>

  <span>Les champs * sont obligatoires</span>

  <div class="mt-5">
    <a class="btn btn-lg btn-warning btnImpact mr-3" (click)="annulerTout()"><i class="fas fa-undo-alt"></i> Retour</a>
    <a class="btn btn-lg btn-info btnImpact" (click)="saveUtilisateurAssocieAssociation()" [routerLink]="['/connexion']"><i class="fas fa-check"></i> Valider</a>
  </div>
  </div>
</div>
</div>
