<div class="container policeChampagne25">

  <div *ngIf="!lotForm">

  <div class="bg-info mt-5 conteneurArrondi policeChampagneEspaceCenter">
    <h2>CREATION D'UN DON</h2>
  </div>

  <div class="card-body">
    <div class="pt-1 row">
      <div class="col ">
        <label for="nom">Créneau de reception / remise : *</label>
      </div>
      <div class="col">
        <label for="nom"> Date de mise en ligne:</label>
      </div>
    </div>

    <div class="pt-1 row">
      <div class="col">
        <input type="text" class="form-control" id="nom" [(ngModel)]="donForm.creneau">
      </div>
      <div class="col">
          <span type="date" class="form-control"
                id="dateDeMiseEnLigne">{{donForm.dateDeMiseEnLigne | date:'dd-MM-yyyy'}}
           </span>
      </div>
    </div>

    <!--Choix du destinataire  et Lieu en Auto-->


    <div class="pt-1 row">
      <div class="col ">
        <label for="destinataire">A qui est-ce destiné ?</label>
      </div>
      <div class="col ">
<!--        <label> Ville </label>-->
      </div>
    </div>

    <div class="pt-1 row">
      <div class="col">
        <select class="form-control" id="destinataire" [(ngModel)]="donForm.destinataire">
          <option value="PARTICULIER">Particulier</option>
          <option value="ASSOCIATION">Association</option>
        </select>
      </div>
      <div class="col">
        <label> </label>
      </div>
    </div>


    <div class="pt-1">
      <label for="nom">Commentaires / précisions :</label>
      <input type="text" class="form-control" id="commentaire" [(ngModel)]="donForm.commentaire">
    </div>

    <div class="mt-3 text-warning">
      <i class="fas fa-exclamation-circle text-warning"></i> Les champs * sont
        obligatoires
    </div>


    <!--PARTIE AJOUT DE LOT : Avec Tableau vide et bouton ajout du formulaire-->

      <div class="bg-info mt-5 conteneurArrondi policeChampagneEspaceCenter">
        <h2>LES LOTS</h2>
      </div>

    <div class="table">
      <div class="pt-1 row">
        <div class="col">Nom du Lot :</div>
        <div class="col">Quantité :</div>
        <div class="col"></div>
      </div>

      <div *ngFor="let lot of lotDonsEnCours; index as i" class="row">
        <div class="col">{{lot.nom}}</div>
        <div class="col">{{lot.volume}}</div>
        <div class="col">
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="editLot(i)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="deleteLot(i)"><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-3">
      <button type="button" class="btn btn-lg btn-outline-info mt-3" (click)="addLot();"><i
        class="fas fa-plus-circle"></i> Ajouter un lot
      </button>
    </div>


      <div class="row pt-3">
        <div class="col "></div>
        <button type="button"
                class="btn btn-float-middle btn-info btnImpact mr-auto col" (click)="saveDon();" [routerLink]="['/accueil2']"><i
          class="fas fa-check"></i> VALIDER LE DON
        </button>
        <div class="col"></div>
      </div>


  </div>
  </div>

  <!-- FORMULAIRE CREATION DE LOT :-->

  <div class="mt-3" *ngIf="lotForm">

    <div class="bg-warning mt-5 conteneurArrondi policeChampagneEspaceCenter pt-1">
      <h2>CREATION D'UN LOT</h2>
    </div>

    <div class="card-body">
      <div class="pt-1 row">
        <div class="col">
          <label>Nom du Lot : *</label>
        </div>
        <div class="col">
          <label>Quantité de ce lot souhaité : *</label>
        </div>
      </div>
      <div class="pt-1 row">
        <div class="col">
          <input type="text" class="form-control" id="nomLot" [(ngModel)]="lotForm.nom">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="volumeLot" [(ngModel)]="lotForm.volume">
        </div>
      </div>

      <div class="pt-1 row">
        <div class="col">
          <label for="type">Choix du type (Une catégorie à la fois) :</label>
        </div>
        <div class="col">
          <label for="imageLot">Insérer une image (Format jpeg, png) :</label>
        </div>
      </div>

      <div class="pt-1 row">
        <div class="col">
          <select class="form-control" id="type" [(ngModel)]="categorieProduit" (change)="actualisationProduit()">
            <option *ngFor="let type of listType()" value="{{type}}">{{type}}</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="imageLot" [(ngModel)]="lotForm.photo">
        </div>
      </div>

      <div class="row pt-1 mt-3 bg-light">
        <div class="col">Date de Péremption Lot:</div>
        <div class="col"><label id="dtPeremption" [(ngModel)]="lotForm.dtPeremptionLot" > {{DateP | date:'dd-MM-yyyy'}} </label></div>
        <div class="col">Volume Lot :</div>
        <div class="col"><label id="volume">{{Volume}}</label></div>
      </div>

      <div class="bg-danger mt-5 conteneurArrondi policeChampagneEspaceCenter pt-1">
        <h2>AJOUTER DES PRODUITS</h2>
      </div>

      <table id="lotTable" class="table mt-5">
        <thead>
        <div class="row pt-1">
          <div class="col">Nom du produit:</div>
          <div class="col">Quantité : </div>
          <div class="col">Date de péremption:</div>
          <div class="col"></div>
        </div>
        </thead>

        <tbody id="produitlot">
        <div class="row" *ngFor="let produitLForm of produitLotForms">
          <div class="col">
            <select class="form-control" id="produit" [(ngModel)]="produitLForm.produit.nom">
              <option value="">Choisir un Produit :</option>
              <option *ngFor="let produit of produitByCategorie" [value]="produit.nom">{{produit.nom}}</option>
            </select>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="quantite" (change)="calculVolume()" [(ngModel)]="produitLForm.quantite">
          </div>
          <div class="col">
            <input type="date" class="form-control" id="peremption" (change)="calculDateP()" [(ngModel)]="produitLForm.dtPeremption ">
          </div>
          <div class="col">
            <a class="btn btn-info btn-m mr-3 text-light" (click)="addProduitLot()"><i class="fas fa-plus"></i></a>

            <a class="btn btn-secondary btn-m" (click)="deleteProduitLot()"><i class="far fa-trash-alt"></i></a>
          </div>
        </div>
        </tbody>
      </table>

      <div class="pt-2">
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-lg btn-danger mt-3 float-left text-light"
                    data-toggle="modal"
                    data-target="#myModal" (click)="addProduit()"><i
              class="fas fa-plus-circle"></i> Nouveau Produit
            </button>

          </div>
        </div>

        <div class="row pt-3">
          <div class="col"></div>
          <button type="button" class="btn btn-lg btn-warning btnImpact mr-3 col" (click)="cancelLot();"><i
            class="fas fa-undo-alt"></i> ANNULER
          </button>

          <button type="button"
                  class="btn btn-float-middle btn-info btnImpact mr-auto col" (click)="saveLot();"><i
            class="fas fa-check"></i> VALIDER LE LOT
          </button>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>


  <!--      CREATION D'UN PRODUIT-->
  <div id="myModal" class="modal fade policeChampagne25" data-backdrop="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="bg-success conteneurArrondi policeChampagneEspaceCenter">AJOUTER UN PRODUIT
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
        </div>

        <div class="modal-body">

          <div class="modal-group">
            <div class="row">
              <label class="col">Nom du Produit :</label>
            </div>
            <div class="row">
              <input type="text" class="modal-control col" id="nomProduit" [(ngModel)]="produitForm.nom">
            </div>
            <div class="row">
              <label class="col">Choix du type de produit :</label>
            </div>
            <div class="row">
              <select
                id="typeProduit" class="modal-control col" [(ngModel)]="produitForm.type">
                <option value="">Choisir un type</option>
                <option *ngFor="let type of listType()" value="{{type}}">{{type}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><i class="far fa-times-circle text-light"></i></button>
          <div class="col text-center">
            <button type="button"
                    class="btn btn-float-middle btn-success btnImpact mr-auto col" data-dismiss="modal"
                    (click)="saveProduit()">AJOUTER CE PRODUIT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <tbody id="lot"  *ngFor="let LForm of lotForms">
   <tr class="row" >
      <td class="col-md-3">
        <select class="form-control" id="lotListe" [(ngModel)]="lotForm.nom">
          <option value="">Lots disponibles :</option>
          <option *ngFor="let lot of listLot()" [value]="lot.nom">{{lot.nom}}</option>
        </select>
      </td>
       <td class="col-md-4">
         <input type="number" class="form-control" id="quantite"  [(ngModel)]="lotForm.volume">
       </td>
       <td class="col-md-2">
         <button type="button" class="btn btn-success btn-md"
                 onclick="addLot();">
           <i class="fa fa-plus"></i>
         </button>
       </td>
     </tr>
</tbody>
-->
