@import "../styles.scss";

.limiter {
  width: 100%;
  margin: 0 auto;
}

.fondEcran {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.fondEcran2 {
  width: 80%;
  padding: 50px;
  border-radius: 70px;
  opacity: 90%;
  margin-left: auto;
  margin-right: auto;
}

.texteAccueil {
  font-size: 100px;
  font-family: Impact;
  text-align: center;
}

img {
  height: 150px;
  width: auto;
}
