<header *ngIf="ConnecteQuestionMark() == false">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-warning" [routerLink]="['/']"><i class="fas fa-home"></i> Accueil</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/contact']">Contact</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/information']">Informations</a>
        </li>
      </ul>

      <div class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/inscription']"><i class="fas fa-plus-circle"></i> Inscription</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/connexion']"><i class="fas fa-power-off"></i> Connexion</a>
        </li>
      </div>
    </div>
  </nav>
</header>

<!--Menu 2 après connexion -->

<header *ngIf="ConnecteQuestionMark() == true">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/accueil2']"><i class="fas fa-home"></i> Accueil</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/contact']">Contact</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/information']">Informations</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="recupPivot()=='true'">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/donner']">Faire un don</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="recupPivot()=='false'">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/beneficier']">Choisir un lot</a>
        </li>

<!--        <li class="nav-item" routerLinkActive="active" *ngIf="areYouBeneficiaire()">-->
<!--          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/tableauDeBordBeneficiaire']">Tableau de bord B</a>-->
<!--        </li>-->
<!--        <li class="nav-item" routerLinkActive="active" *ngIf="areYouDonneur()">-->
<!--          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/tableauDeBordDonneur']">Tableau de bord D</a>-->
<!--        </li>-->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/messagerie']">Messagerie</a>
        </li>

      </ul>

      <div class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-warning" [routerLink]="['/administration']"><i class="fas fa-wrench"></i> Administration</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" [routerLink]="['/profil']"><i class="fas fa-user"></i> Mon profil</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item nav-link policeImpact text-info" (click)="deconnexion()" [routerLink]="['/']"><i class="fas fa-power-off"></i> Déconnexion</a>
        </li>
      </div>
    </div>
  </nav>
</header>

<div class="texteAccueil mt-10 text-warning policeImpact">SHARE Y<img src="assets/clementine4.jpg"/>UR FOOD</div>
<div class="mt-0 policeChampagneEspaceCenter">PLATEFORME DE PARTAGE ET D'ENTRAIDE</div>

<div class="container-fluid">
  <div class="fondEcran" style="background-image: url('assets/2195890.jpg');">
    <div class="bg-white fondEcran2">

  <div>
          <router-outlet></router-outlet>
  </div>



  </div>
</div>
</div>
<footer class="page-footer font-large special-color-dark pt-4 bg-light">

<!--<div><button (click)="connexion()">ConnexionDTO + {{sessionencours()}}</button></div>-->
  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb btn-lg mx-1 btn-info">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw btn-lg  mx-1 btn-info">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus btn-lg  mx-1 btn-info">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li btn-lg  mx-1 btn-info">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble btn-lg  mx-1 btn-info">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>


  </div>

  <div class="footer-copyright text-center py-3">
    <a class="text-info policeImpact nav-link" [routerLink]="['/mentionsLegales']">MENTIONS LEGALES</a>
  </div>


</footer>

