<div class="container policeChampagne25">
  <div>
    <div class="bg-info mt-5 conteneurArrondi policeChampagneEspaceCenter">
      <p>CHOISIR UN DON EN COURS</p>
    </div>
    <div
      style="overflow: scroll; border: #000000 1px solid; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">

      <div *ngFor="let lotreduc of ReductionListLot(valeur)" style="text-align: center ; border: #000000 1px solid;">
        Lot : {{lotreduc.nom}}<br> <img style="width: 150px; height: 100px;"
                        src="{{lotreduc.photo}}">
        <div class="btn-group float-middle ml-auto mr-auto">
          <button type="button"
                  class="btn btn-success btn-sm ml-auto mr-auto text-center" (click)="demander(lotreduc)">
            DEMANDER</button><br>
        </div>
      </div>

      </div>
  </div>
  <div>
    <span> Barre de recherche :</span>
    <input type="text" class="form-control" id="recherche" [(ngModel)]="valeur" >
  </div>



