<div class="container">
  <div class="card mt-3" >

    <div class="card-header bg-info text-white text-center">
      <h2>Création d'un Lot</h2>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="nom">Nom du Lot :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="lotForm.nom">
      </div>
      <div class="form-group">
        <label for="categorie">Choix de la catégorie (Une catégorie à la fois) :</label>
        <select class="form-control" id="categorie" [(ngModel)]="lotForm.categorie">
          <option value="">Choisir une categorie</option>
          <option *ngFor="let cat of listCategorie()" value="{{cat}}">{{cat}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="imageLot">Insérer une image (Format jpeg, png)
          :</label> <input type="image" class="form-control" id="imageLot" [(ngModel)]="lotForm.photo">
      </div>


      <table id="lotTable" class="table">
        <tr class="row">
          <th class="col-md-6"><label for="lots">Nom:</label></th>
          <th class="col-md-4"><label for="quantite">Quantité :</label></th>
          <th class="col-md-2"><label for="add"> </label></th>
        </tr>
      </table>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <select id="lots" class="form-control">
              <option value="produit 1">Camembert</option>
              <option value="produit 2">Bresse Bleu</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" id="quantite">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-md"
                    onclick="add();">Ajouter</button>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-center">
            <div class="btn-group btn-group-lg float-middle ml-auto mr-auto">
              <button type="button"
                      class="btn btn-success btn-lg ml-auto mr-auto" onclick="add();">VALIDER</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div id="creaLotForm" class="card mt-3" style="display: yes;">
    <div class="card-header bg-info text-white text-center">
      <h2>Création d'un Produit</h2>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="nom">Nom du Produit :</label> <input type="text"
                                                         class="form-control" id="nom">
      </div>

      <div class="form-group">
        <label for="categorie">Choix de la catégorie :</label> <select
        id="categorie" class="form-control">
        <option value="categorie1">Produit Frais</option>
        <option value="categorie2">Epicerie</option>
        <option value="categorie3">Laitage</option>
      </select>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <div class="btn-group btn-group-lg float-middle ml-auto mr-auto">
            <button type="button"
                    class="btn btn-success btn-lg ml-auto mr-auto" onclick="add();">VALIDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
