<div class="container">
  <div class="card mt-3" >

    <div class="card-header bg-info text-white text-center">
      <h2>Création d'un Lot</h2>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="nom">Nom du Lot :</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="lotForm.nom">
      </div>
      <div class="form-group">
        <label for="categorie">Choix de la catégorie (Une catégorie à la fois) :</label>
        <select class="form-control" id="type" >
          <option value="">Choisir un type</option>
          <option *ngFor="let type of listType()" value="{{type}}">{{type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="imageLot">Insérer une image (Format jpeg, png)
          :</label> <input type="image" class="form-control" id="imageLot" [(ngModel)]="lotForm.photo">
      </div>
      <table id="lotSpe" class="table">
        <tr class="row">
          <th class="col-md-3">Date de Péremption Lot:</th>
          <th class="col-md-2"><label id="dtPeremption"> -----   </label></th>
          <th class="col-md-3">Volume Lot :  </th>
          <th class="col-md-2"> <label id="volume"> ----- </label> </th>
        </tr>
      </table>

      <thead>
      <table id="lotTable" class="table">
        <tr class="row">
          <th class="col-md-6">Nom du produit:</th>
          <th class="col-md-4">>Quantité :</th>
          <th class="col-md-6">Date de péremption:</th>
          <th class="col-md-2"> </th>
        </tr>
      </table>
      </thead>
      <tbody>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" id="produit" [(ngModel)]="lotForm.produit">
              <option value="">Choisir un Produit :</option>
              <option *ngFor="let produit of listProduit()" [value]="produit.nom">{{produit.nom}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" id="quantite" [(ngModel)]="produitLotForm.quantite">
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" id="peremption" [(ngModel)]="produitLotForm.dtPeremption">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-md"
                    onclick="add();">Ajouter</button>
          </div>
        </div>
      </div>
      </tbody>

      <div class="card-footer">
        <div class="row">
          <div class="col text-center">
            <div class="btn-group btn-group-lg float-middle ml-auto mr-auto">
              <button type="button"
                      class="btn btn-success btn-lg ml-auto mr-auto" onclick="add();">VALIDER</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div id="creaLotForm" class="card mt-3" style="display: yes;">
    <div class="card-header bg-info text-white text-center">
      <h2>Création d'un Produit</h2>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="nom">Nom du Produit :</label> <input type="text"
                                                         class="form-control" id="nom">
      </div>

      <div class="form-group">
        <label for="categorie">Choix de la catégorie :</label> <select
        id="categorie" class="form-control">
        <option value="categorie1">Produit Frais</option>
        <option value="categorie2">Epicerie</option>
        <option value="categorie3">Laitage</option>
      </select>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <div class="btn-group btn-group-lg float-middle ml-auto mr-auto">
            <button type="button"
                    class="btn btn-success btn-lg ml-auto mr-auto" onclick="add();">VALIDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
