<div class="container policeChampagne25">
  <div class="mt-5 policeChampagneEspaceCenter"><b>CONNEXION</b></div>
  <div class="center">________________________</div>

  <label for="email">Entrer votre e-mail :</label>
  <input type="email" class="form-control" id="email" [(ngModel)]="conn.mail"/>

  <label for="motdepasse">Entrer votre mot de passe :</label>
  <input type="text" class="form-control" id="motdepasse" [(ngModel)]="conn.motDePasse"/>

  <div class="mt-3">
    <a class="lien" [routerLink]="['/informations']">Mot de passe oublié ?</a>
  </div>

  <div class="mt-5">
    <a class="btn btn-lg btn-warning btnImpact mr-3" [routerLink]="['']"><i class="fas fa-undo-alt"></i> Retour</a>
    <button type="button" class="btn btn-lg btn-info btnImpact" (click)="connexion()"><i class="fas fa-power-off"></i>Connexion</button>
  </div>
</div>

