.impact {
  font-family: Impact;
  font-size: 25px;
  color: white;
}

.champagne {
  font-family: "Champagne & Limousines";
  font-size: 30px;
  text-align: center;
}

.blockOrange {
  background: #f8f9fa;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.surbrillance {
  letter-spacing: 20px;
}

.arrondi {
  border-radius: 100px;
}

.texteAccueil2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 20px;
  font-family: "Champagne & Limousines";
}


.imgDonencours {
  width: 150px;
  height: 100px;
  padding-right: 10px;
}

.orangeColor {
  color: #fba919;
}

.texteAccueil {
  font-size: 100px;
  font-family: Impact;
  text-align: center;
  font-family: "Impact";
}

.texteAccueil2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 20px;
  font-family: "Champagne & Limousines";
}

.center {
  text-align: center;
}
