<div class="container">
  <div class="mt-5 arrondi texteAccueil2"><b>CONNEXION</b></div>
  <div class="center">________________________</div>

  <label for="email">Entrer votre e-mail :</label>
  <input type="email" class="form-control" id="email"/>

  <label for="motdepasse">Entrer votre mot de passe :</label>
  <input class="bg-white" type="text" class="form-control" id="motdepasse"/>

  <div class="mt-3">
    <a class="nav-link" [routerLink]="['/informations']">Mot de passe oublié ?</a>
  </div>

  <div class="mt-5">
  <button type="button" class="btn btn-lg btn-warning impact mr-3"><i class="fas fa-undo-alt"></i> Retour</button>
    <button type="button" class="btn btn-lg btn-info impact"><i class="fas fa-power-off"></i> Connexion</button>
  </div>
</div>

