
<div class="container">

  <div class="card">

    <div class="card-header bg-info text-white text-center"><h2>Tableau de bord</h2></div>

    <div class="card-body">

      <span>Mes notifications:</span>

      <div class="pt-3">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Numéro:</th>
            <th>Nom lot:</th>
            <th>Quantité:</th>
            <th>Statut:</th>
            <th>Nom Entite:</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let demande of demandeAccByEntite">
            <td>{{demande.id}}</td>
            <td>{{demande.lot.nom}}</td>
            <td>{{demande.lot.volume}}</td>
            <td>{{demande.statutNotif}}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="card-footer">

      <span>Historique:</span>

      <div class="pt-3">
        <table class="table table-striped">
          <thead>
          <tr >
            <th>Numéro:</th>
            <th>Nom lot:</th>
            <th>Quantité:</th>
            <th>Donneur:</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let demande of demandeHist">
            <td>{{demande.id}}</td>
            <td>{{demande.lot.nom}}</td>
            <td>{{demande.lot.volume}}</td>
            <td>{{demande.statutNotif}}</td>
            <td>{{trouverDonneur(demande.id)}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
