<div class="container">
  <div class="card-header bg-info text-white text-center">
    <h2>Bienvenue !!</h2>
  </div>
<!--  <img-->
<!--    src="C:\Users\sarah\Desktop\Formation Java EE\projet\GraphismeShareYourFood1\shareYourFood.jpg"-->
<!--    style="width: 150px; height: 100px; float: left" /> <img-->
<!--  src="C:\Users\sarah\Desktop\Formation Java EE\projet\GraphismeShareYourFood1\shareYourFood.jpg"-->
<!--  style="width: 150px; height: 100px; float: right" /> -->
  <span style="float: center">Tu souhaites partager tes invendus ou
			tes aliments que tu ne vas pas cuisiner ? Tu souhaites être mis en
			relation avec les personnes donatrice ? Cette plateforme est faites
			pour toi ! Tu n'as plus qu'à te créer un compte ou te connecter.</span>

</div>
<div class="container">
  <div class="card-header text-left">
    <h3>Dons en cours :</h3>
  </div>
  <br>

  <div
    style="overflow: scroll; border:#000000 1px solid; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">

    <div *ngFor="let lot of listGrosLot()">
      Lot : <br>
      <img style="width: 150px; height: 100px;"
                      src="{{lot.photo}}">
      <br> {{lot.nom}}
     <br> Volume : {{lot.volume}}
    </div>

  </div>
</div>

<div class="container">
  <span> Nombre total de dons réalisés : </span><span> 5000</span><br>
  <span > Nombre de visiteurs : </span><span> 25200</span>
</div>
