<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col">
      <button type="button" class="btn btn-lg btn-info impact">Nouveau membre</button>
    </div>
    <div class="col">
      <img class="mx-auto d-block" src="assets/faireUnDon.jpg"/>
    </div>
    <div class="col">
      <button type="button" class="btn btn-lg btn-warning impact">Connexion</button>
    </div>
  </div>

  <div class="champagne blockOrange">
    <p>Tu souhaites faire un don alimentaire ou partager tes invendus ?</p>
    <p>Tu souhaites être mis(e) en relation avec des donateurs(trices) ?</p>

    <p>Alors cette plateforme solidaire est faite pour toi !</p>
    <p>Inscris-toi ou connecte toi et rejoins la</p> <p><b class="surbrillance">SHARE YOUR F<span class="orangeColor">OO</span>D FAMILY</b> !</p></div>
  </div>


  <div class="bg-info mt-5 arrondi texteAccueil2">
    <p>DONS EN COURS</p>
  </div>

  <div class="container" style="overflow: scroll; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">

    <div class="btn-group">

      <img src="assets/panier1.jpg" class="imgDonencours"/>
      <img src="assets/panier2.jpg" class="imgDonencours"/>
      <img src="assets/panier3.jpg" class="imgDonencours"/>
      <img src="assets/panier4.jpg" class="imgDonencours"/>
      <img src="assets/panier1.jpg" class="imgDonencours"/>
      <img src="assets/panier2.jpg" class="imgDonencours"/>
      <img src="assets/panier3.jpg" class="imgDonencours"/>
      <img src="assets/panier4.jpg" class="imgDonencours"/>
      <img src="assets/panier1.jpg" class="imgDonencours"/>
    </div>

  </div>


<div class="bg-warning mt-5 arrondi texteAccueil2">
  <p>QUELQUES CHIFFRES</p>
</div>

<div class="champagne">
  <p>Nombre total de dons réalisés</p>
  <p><i class="far fa-heart"></i> 5000</p>
</div>

<div class="champagne">
  <p>Nombre de visiteurs</p>
  <p><i class="far fa-user"></i> 25200</p>
</div>

